<header class="text-gray-600 body-font bg-white">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">webBlogs</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <div>  
                <a routerLink="/login" class="mr-5 hover:text-blue-400">Login</a>
                <a routerLink="/register" class="mr-5 hover:text-blue-400">Register</a>
            </div>
        </nav>   
    </div>
</header>


<section [formGroup]="verifyEmail" class="text-gray-600 body-font ">
    <div class="container px-5 py-3 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Slow-carb next level shoindcgoitch ethical
                authentic, poko scenester</h1>
            <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock
                starladder roathse. Craies vegan tousled etsy austin.</p>
        </div>
        <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <div >
                <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Verify with your email</h2>
                <div class="relative mb-4">
                    <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                    <input  formControlName="email" type="email" id="email" name="email"
                        class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required" class="text-red-500">Email is required</div>
                            <div *ngIf="f.email.errors.email"  class="text-red-500">Email is invalid</div>
                        </div>
                </div>
            </div>
            <button (click)="onVerifyEmail()" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Send otp</button>
        </div>
    </div>
</section>